@model BookStoreMvc.Models.DTO.BookListVm
@{
}

<div class="tbl-container">
    <h2>Books</h2>

    <section class="search-bar ps-0">
        <form method="get" asp-action="BookList">
            <input type="text" name="term" placeholder="search here">

            <button type="submit"><i class="fa fa-search"></i></button>
            <a href="/Home/Index">All Books</a>
        </form>
    </section>

    <table>
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Release Year</th>
            <th>Image</th>
            <th>Author</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        @foreach(var item in Model.BookList){
        <tr>
            <td>@item.Title</td>
                <td>@item.GenreNames</td>
                <td>@item.ReleaseYear</td>
            <td><img style="height:60px;width:80px" src="/Uploads/@item.BookImage"/></td>
                <td>@item.Author</td>
                <td>$@item.Price</td>
                <td>
                <a href="/Book/Edit?id=@item.Id" class="btn btn-default"><i class="fa fa-edit"></i></a>
                <a onclick="return window.confirm('Are you sure?')" href="/Book/Delete?id=@item.Id" class="btn btn-danger"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
        }
     
    </table>
    <div class="input-container">
        <a href="/Book/Add" class="btn btn-sec">Back</a>
    </div>
</div>

<div class="pagination">
    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        if (i == Model.CurrentPage)
        {
            <a href="/Book/BookList?currentPage=@i&term=@Model.Term" class="active">@i</a>
        }
        else
        {
            <a href="/Book/BookList?currentPage=@i&term=@Model.Term">@i</a>

        }
    }

</div>
